/* #col2 {
	background-color: green;
}

* {
	color: rgb(99, 255, 247);
	color: rgb(99, 115, 255);
} */

/* .inputForm {
	box-shadow: 0px 0px 10px #0275d8;
	border-radius: 1em;
	padding: 1em;
} */

form {
	padding: 25px;
	box-shadow: 0 0 10px #5bc0de;
	border-radius: 25px;
}
